<app-navbar></app-navbar>

<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm">
      <h2>New Job Offer</h2>
      <div class="d-flex justify-content-evenly my-2">
        <mat-form-field>
          <input
            matInput
            placeholder="Position"
            [(ngModel)]="position"
            name="position"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Experience </mat-label>
          <select
            matNativeControl
            required
            [(ngModel)]="experience"
            name="experience"
          >
            <option *ngFor="let level of exp" [value]="level">
              {{ level }}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-evenly my-2">
        <mat-form-field>
          <input
            matInput
            placeholder="Work Schedule Type"
            [(ngModel)]="workSchedule"
            name="schedule"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Hours per week"
            [(ngModel)]="hoursPerWeek"
            name="hours"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="my-2 mx-5">
        <mat-label>Offer is Valid Until</mat-label>
        <input
          [formControl]="validTo"
          required
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="my-2 mx-5" appearance="fill">
        <mat-label>Job Description</mat-label>
        <textarea
          [(ngModel)]="description"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="6"
          required
          name="description"
        ></textarea>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="shareOnDislinkt" name="checkbox"
        >Do you want to share offer on Dislinkt?</mat-checkbox
      >
      <p class="my-3" style="color: red">{{ errorMessage }}</p>
      <button
        class="btn btn-danger"
        mat-raised-button
        [disabled]="
          position == '' ||
          experience == '' ||
          description == '' ||
          workSchedule == ''
        "
        (click)="createJobOffer()"
      >
        Create Offer
      </button>
    </form>
  </mat-card-content>
</mat-card>
