<app-navbar></app-navbar>
<mat-grid-list cols="1" rows="1" rowHeight="10rem">
  <mat-grid-tile
    ><h1><strong>All Companies: </strong></h1>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let company of companies">
    <mat-card class="example-card">
      <div class="d-flex justify-content-center mt-3">
        <mat-card-title>{{ company.name }} </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="d-flex justify-content-center">
        <mat-card-subtitle
          ><strong
            >Since {{ company.yearOfEstablishment }}</strong
          ></mat-card-subtitle
        >
      </div>
      <div class="d-flex justify-content-center">
        <mat-card-content>
          <h3>{{ company.description }}</h3>
        </mat-card-content>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="d-flex justify-content-center">
          <h3>Phone:</h3>
          <h3 class="ms-2" style="color: darkred">
            {{ company.contactInfo.phone }}
          </h3>
        </div>
        <div class="d-flex justify-content-center">
          <h3>Email:</h3>
          <h3 class="ms-2" style="color: darkred">
            {{ company.contactInfo.email }}
          </h3>
        </div>
        <div class="d-flex justify-content-center">
          <a href="/company/{{ company.id }}">See more</a>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
