<app-navbar></app-navbar>
<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm">
      <h2 class="bg-danger" style="color: white">Register Your Company</h2>
      <mat-form-field class="my-2 mx-2">
        <input
          matInput
          placeholder="Company Name"
          [(ngModel)]="name"
          name="name"
          required
        />
      </mat-form-field>
      <mat-form-field class="my-2 mx-2">
        <input
          matInput
          type="text"
          placeholder="Address"
          [(ngModel)]="address"
          name="address"
          required
        />
      </mat-form-field>
      <mat-form-field class="my-2 mx-2">
        <input
          matInput
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </mat-form-field>
      <mat-form-field class="my-2 mx-2">
        <input
          matInput
          type="text"
          placeholder="Phone"
          [(ngModel)]="phone"
          name="phone"
          required
        />
      </mat-form-field>
      <mat-form-field class="my-2 mx-2">
        <input
          matInput
          type="number"
          placeholder="Year Of Establishment"
          [(ngModel)]="yearOfEstablishment"
          name="yearOfEstablishment"
          required
        />
      </mat-form-field>
      <mat-form-field class="my-2 mx-2" appearance="fill">
        <mat-label>Culture</mat-label>
        <textarea
          [(ngModel)]="culture"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="6"
          required
          name="culture"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="my-2 mx-2" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          [(ngModel)]="description"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="6"
          required
          name="description"
        ></textarea>
      </mat-form-field>
      <p class="my-3" style="color: red">{{ errorMessage }}</p>
      <button
        class="btn btn-secondary"
        mat-raised-button
        [disabled]="
          name == '' ||
          address == '' ||
          email == '' ||
          phone == '' ||
          description == '' ||
          culture == '' ||
          yearOfEstablishment <= 0
        "
        (click)="registerCompany()"
      >
        Send Request
      </button>
    </form>
  </mat-card-content>
</mat-card>
