<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="submitForm()">
      <h2>Log In</h2>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      </mat-form-field>
      <div class="mb-3 forgotPass">
        <a href="/forgot-password">Forgot password?</a>
      </div>
      <p class="my-3" style="color: red">{{ errorMessage }}</p>
      <button class="btn btn-primary" mat-raised-button color="primary" [disabled]="username == '' || password == ''">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
